<%- include("partials/header"); %>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="newTitle" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="post" class="form-label">Post</label>
            <textarea name="newPost" class="form-control" rows="5" id="post"></textarea>
        </div>
            <button class="btn btn-primary" type="submit" name="publish" value="">publish</button>
    </form>
    <%- include("partials/footer"); %>